.cont{
    width: 60%;
     padding-bottom: 30px;
    margin-left:  31.96590303676079vw;
    position: absolute;
   margin-top: 20px;
   
}
.brea{
    background-color: white;
     padding-left: 0px;
}
.ca{
    margin-top: 20px;
}
.te{
    font-size: 0.8rem;
}
.sp{
    text-align: right;
    font-size: 0.8rem;
}

